* {
  font-family: "Rye", serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  visibility: hidden;
}

.paper {
  background: url("paper.png") no-repeat center center;
  background-size: contain;
  border-radius: 10px;
  width: 900px;
  height: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Tlačítka budou dole */
}

#quest-title {
  font-size: 24px;
  color: #2e1e1b;
  padding-top: 50px;
  margin-bottom: 10px; /* Upravíme mezery pro lepší rozvržení */
  font-weight: bold;
}

#quest-text {
  font-size: 16px;
  color: #4a2d2f;
  margin-bottom: 20px; /* Mezery mezi textem a tlačítky */
}

button {
  background-color: #b7a081;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 45%; /* Zvětší šířku tlačítek */
  max-width: 200px; /* Zajistí, že tlačítka nebudou širší než 200px */
}

button:hover {
  background-color: #8c6e47;
  transform: scale(1.1);
}

/* Styly pro tlačítka */
button#accept-button {
  background-color: #6b7c4c;
}

button#accept-button:hover {
  background-color: #4e5d3b;
}

button#again-button {
  background-color: #bf7c60;
}

button#again-button:hover {
  background-color: #9f5a3c;
}

button#complete-button {
  background-color: #84b46a;
}

button#complete-button:hover {
  background-color: #6f8e53;
}

button#close-button {
  background-color: #9e4f4b;
}

button#close-button:hover {
  background-color: #7a3732;
}
